#verseHeader {
    color: #FF4F0F;
    font-size: calc(2vw + 2vh + 2vmin);
}

#verseText {
    color: #FF4F0F;
    font-size: calc(1vw + 1vh + 2vmin);
}

#bibleVerse {
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;
    overflow: hidden;
    height: 50vh;
    max-height: 100vh;
    border-radius: 25px;
    border: #03A6A1;
    background-color: #FFE3BB;
    margin-top: 2%;
    width: 98%;
    -webkit-transition: height 2s ease; 
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
    display: flex;
    align-items: center;
}

#verseFooter {
    text-decoration: none;
    color: #FF4F0F;
    font-size: calc(.5vw + .5vh + 2vmin) !important;
}

.carousel-inner {
    height: 100%;
    align-items: center;
    display: flex;
    -webkit-transition: height 2s ease; 
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
    overflow-y: auto;
}

.carousel {
    align-items: center;
    display: flex;
    -webkit-transition: height 2s ease; 
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}
.random-verse {
    padding: 5px;
}
